body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(206, 220, 245);
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;

}
input,
button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
input{
    border-radius: 5px;
}
label{
    font-weight: bold;
    text-align: left;
}
button{
    border-radius: 20px;
    cursor: pointer;
}
.login_success p{
    color: green;
    font-weight: bold;
}
.login_error p{
    color: red;
    font-weight: bold;
}
